/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --primary-color: #bab4b5;
  --secondary-color: #f6eedf;
}

* {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

/* Index-page */
h2 {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  opacity: 0.8;
  font-family: "poppins", sans-serif;
  font-weight: 300;
}

/*Navigation Bar*/
.navbar {
  background: var(--primary-color);
  padding: 20px 0;
}

.navbar-nav {
  font-size: 12px;
  letter-spacing: 1px;
}

.nav-item {
  padding: 0 10px;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1.5rem;
  line-height: 1.5;
  text-align: center;

  padding-top: 100px;
  display: block;
}

.hero {
  background-color: white;
  background-image: url(/images/Test-1.png);
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  color: black;
  position: relative;

  padding-bottom: 300px;
}

h1 {
  font-family: "roboto", serif;
  font-size: 2.5em;
  font-weight: 500;
}

#developer-name {
  padding-top: 100px;
  display: block;
  font-size: 2.7em;
  font-weight: 500;
}

/* Button-main page */
#contact-button {
  font-size: 14px;
  letter-spacing: 2px;
  padding: 15px 22px !important;
  font-size: 9px;
  color: black;
  border-radius: 2px !important;
  background: var(--primary-color);
  transition: all 150ms ease-in-out;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}

#contact-button:hover {
  transform: scale(1.1) !important;
  border-radius: 2px !important;
  border: none;
  background-color: white;
  color: black;
}

.btn-branding {
  font-size: 8px !important;
  letter-spacing: 2px;
  padding: 15px 22px !important;
  text-transform: uppercase;
  background-color: white;
  border-radius: 0% !important;
  border: solid 1px;
  transition: all 150ms ease-in-out;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}

#btn-branding:hover {
  color: black;
  background: var(--secondary-color);
}

/* Footer */
footer {
  background: var(--secondary-color);
  margin: 0px auto;
}

footer p a {
  text-decoration: none;
  font-family: "poppins", sans-serif;
  color: black;
  opacity: 0.7;
  font-size: 12px;
  letter-spacing: 1px;
  transition: all 150ms ease-in-out;
}

footer p a:hover {
  transform: scale(1.2);
  color: black;
}

footer .social-links a {
  margin: 0 5px;
  color: var(--primary-color);
  padding: 10px 15px;
  border-radius: 60px;
  font-size: 19px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: black;
  transform: scale(1.1);
}

section {
  font-size: 10px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
}
